{% extends "base.html" %}


{% block title %}Meyahil -- pon tu talento a trabajar{% endblock %}
=======
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	<h1>Meyahil</h1>
  	<p class="important">

    	Bienvenido a Meyahil, donde puedes:
			<ul>
				<li>demuestra tu talento</li>
				<li>muestra tus habilidades</li>
				<li>exhibe tu portafolio</li>
				<li>recibir ofertas de empleo</li>
				<li>que te contraten por proyectos</li>
			</ul>	

    	Bienvenido a ésta página diseñada por {{ name }}.


	</p>
{% endblock %}


{% block footer %}

  &copy; Copyright 2012 {{ name }}.


{% endblock %}